<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="MonAccesTcp"
                contract="WCF.Contrat.IService1"
                binding="netTcpBinding"
                address="net.tcp://localhost:2021/MesServicesWCF"/>
      <endpoint name="MonAcces"
                contract="WCF.Contrat.IService1"
                binding="netHttpBinding"
                address="http://localhost:2022/MesServicesWCF"/>
    </client>
  </system.serviceModel>
</configuration>