<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:2021/MesServicesWCF" binding="netTcpBinding"
        contract="WCF.Contrat.IService1" name="MonAccesTcp" />
      <endpoint address="http://localhost:2022/MesServicesWCF" binding="netHttpBinding"
        contract="WCF.Contrat.IService1" name="MonAccesHttp" />
      <endpoint address="net.pipe://localhost/MesServicesWCF" binding="netNamedPipeBinding"
        bindingConfiguration="" contract="WCF.Contrat.IService1" name="MonAcces" />
    </client>
  </system.serviceModel>
</configuration>